@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f5f8ff;
}

/* shared  style */

.btn {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  border: none;
  background: linear-gradient(to right, #4e47ff 50%, #300279 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.4s ease-in-out;
}
.btn-lg {
  height: 62px;
}

.btn:hover {
  background-position: right bottom;
  cursor: pointer;
}
.primary-color {
  color: #4e47ff;
}

.navbar {
  width: 1140px;
  height: 151px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 99px;
  height: 51px;
  font-size: 34;
  font-weight: 900;
  color: #4e47ff;
}
header {
  width: 100%;
  height: 698px;
  background-image: url("../Assets/Hero-bg.png");
}
.banner {
  width: 905px;
  height: 237px;
  margin: 0 auto;
  padding: 152px 237px;
  text-align: center;
}
.banner h1 {
  font-size: 65px;
  font-weight: bold;
}
.banner button {
  margin-top: 37px;
}
.action {
  width: 1140px;
  display: flex;
  justify-content: space-between;

  margin: 116px auto;
}
.action-right img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
.action-left {
  width: 517px;
  height: 203px;
  margin: 0 auto;
  padding-top: 23px;
}
.action-left h1 {
  padding: 23px 0;
  font-size: 42px;
  font-weight: bold;
}
.action-left p {
  padding: 23px 0;
  font-size: 24px;
}
.action-left button {
  margin-top: 23px;
}

/* Productive section */

.productive-container {
  width: 1140px;
  /* height: 306px; */
  padding: 40px 20px;
  border-radius: 24px;
  text-align: center;
  margin: 0 auto;
  background-color: #e4e6ff;
}
.productive-container h2 {
  font-size: 38px;
  margin-bottom: 30px;
}
.productive {
  /* width: 856px;
  height: 206px;
  margin: 0 auto; */
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.productive-item {
  width: 162px;
  height: 97px;
  font-family: "Inter", sans-serif;
}
.productive-item h3 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.productive-item p {
  font-size: 20px;
}

/* feedback */

.feedback {
  width: 1140px;
  margin: 130px auto;
  /* padding: 40px 0; */
}
.feedback h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #1c1c1c;
  text-align: center;
}
.feedback-container {
  display: flex;
  gap: 20px;
}
.users-feedback {
  width: 366px;
  height: 243px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 0 24px;
}
.users-feedback-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.users-feedback-card img {
  border-radius: 50%;
}

.details {
  /* margin: 12px 0; */
  margin-bottom: 24px;
}
.details h4 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}
.img {
  padding: 24px 0;
}
.name {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  padding: 2px 0;
}
.date {
  font-size: 12px;
  color: #888;
}

.focus-container {
  width: 1140px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  border-radius: 14px;
  display: block;
}

.focus-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-top: 70px;
}
.focus-content p {
  width: 487px;
  text-align: center;
}

.focus-img {
  width: 840px;
  height: 380px;
  border-radius: 48px;
  margin: 30px 150px 70px 150px;
}
.focus-container button {
  text-align: center;
}
.focus-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* contact section */

.contact-container {
  width: 1140px;
  height: 632px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.contact-left {
  width: 50%;
}
.contact-left h1 {
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  padding-right: 115px;
}
.contact-right {
  width: 50%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 19px;
}
.contact-form input[type="email"],
.contact-form input[type="text"] {
  width: 497px;
  height: 25px;
  border-radius: 10px;
  padding: 20px 32px;
  font-size: 20px;
  border: none;
  font-family: "Raleway", sans-serif;
}
.contact-form textarea {
  width: 497px;
  height: 100px;
  border-radius: 10px;
  padding: 20px 32px;
  font-size: 20px;
  border: none;
  font-family: "Raleway", sans-serif;
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: #333;
  font-weight: bold;
}

/* Footer Section */

.footer-container {
  /* width: 100%; */
  background-color: #ffffff;
  padding: 104px 455px;
}
.footer-content {
  width: 531px;
  height: 221px;

  margin: 0 auto;
}
.footer-content h1 {
  width: 291px;
  height: 121px;
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 80px;
  font-weight: 900;
  /* text-align: center; */
  padding: 10px 120px 0px 135px;
}
.link-ul {
  display: flex;
  justify-content: space-around;
}
.link-ul li {
  list-style: none;
  padding: 20px 0;
}
.link-ul a {
  text-decoration: none;
  color: #8987a1;
}
.footer-content p {
  padding-left: 5px;
  color: #8987a1;
}
